html {
    font-size: 100%;
  }

body {
  background-color: #DEDEDE; 
  font: Helvetica, "Times New Roman", serif;
  font-size: 14px;
}

h1, h2, h3 {
  color: #111;
  font-family: "Tahoma", "Helvetica", "Droid Sans", "sans-serif"; 
  letter-spacing: 1px;
  }

h1 {
  border-bottom: 0.07142855em double #444;
  color: #000; 
  font: normal 3.5em/2 Helvetica, sans-serif; 
  text-align: center;
  }

h2 {
  color: #000; 
  font-size: 1.5em; 
  letter-spacing: 0.07142855em; 
  font-variant: small-caps;
  }

h3 {
  border-bottom: 0.07142855em solid #333; 
  font-size: 1.25em; 
  line-height: 1.42857em; 
  margin-bottom: 0.375em; 
  margin-top: 1.05357em; 
  position: relative;
  }

footer p, footer p + p {
  margin: auto;
  }

header, footer {
  clear: both;
  }

header h2, header p {
  padding: 0 40px; 
  width: 510px;
  }

header h1 {
  text-shadow: 2px 3px 2px #999;
  }

  .page {
    background: #fff; 
    border: 0.07142855em solid #CECECE; 
    margin: 0.35714286em auto 1em; 
    padding-bottom: 1.5em; 
    position: relative; 
    width: 960px;
    }

  .time {
    font-size: 0.75em; 
    font-weight: normal; 
    float: right; 
    margin-top: 0; 
    padding-top: 0; 
    position: absolute; 
    right: 0;
    }

ul {
  margin: 0 2em 0.857em;
  }

ul li {
  list-style-type: square; 
  position: relative;
  }

@media screen and (min-width: 767px) {
    
  article {
    margin: 0 20px 0 40px; 
    position: relative;
  }

    .page .resume_content {
      float: left; 
      margin-bottom: 0.35714286em; 
      width: 61.45833%;
    }

    .page .honors_personal {
      float: right; 
      width: 34.375%;
    }

  header p {
    width: 57.291667%
  }

    .contact {
      background-color: #EAEAEA;
      border: 1px solid #DEDEDE;
      box-shadow: 2px 3px 6px #999;
      left: 66.145833%;
      margin: 10px;
      padding: 6px 10px;
      position: absolute;
      width: 26.666667%; 
      top:  9.0625em; 
    }

  b {
    font-weight: normal; 
    margin-top: -2px;
    padding-top: 0; 
    position: absolute; 
    right: 0;
  }
}